<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Clientes
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="info" fill="solid">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addClient()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

      <!-- The AG Grid component -->
      <ag-grid-angular
      #agGrid
      style="width: 100%; height: 100%;"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [localeText]="localeText"
      [undoRedoCellEditing]="true"
      />

</ion-content>
