<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clientes
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="authService.logout()" color="none" fill="solid">
        <i-lucide [img]="LogOut"></i-lucide>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="grid-container">
    <ag-grid-angular
      #agGrid
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [localeText]="localeText"
      [undoRedoCellEditing]="true"
      [domLayout]="'autoHeight'"
      [suppressHorizontalScroll]="true"
      [enableCellTextSelection]="true"
      [animateRows]="true"
    />
  </div>
</ion-content>
