<div class="modal-template">
  <ion-header class="modal-template__header" *ngIf="title || showClose">
    <ion-toolbar>
      <ion-title class="modal-template__title" *ngIf="title">
        {{ title }}
      </ion-title>
      <ion-buttons slot="end" *ngIf="showClose">
        <ion-button
          class="modal-template__close"
          type="button"
          fill="solid"
          color="none"
          [attr.aria-label]="closeAriaLabel"
          (click)="handleClose()"
        >
          ×
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="modal-template__content">
    <ng-content></ng-content>
  </div>
</div>
