<ion-modal [isOpen]="isOpen" (didDismiss)="handleDismiss()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="handleCancel()">{{ cancelLabel }}</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="handleConfirm()" [strong]="true">{{
            confirmLabel
          }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-datetime
        [value]="value"
        [presentation]="presentation"
        [preferWheel]="preferWheel"
        [locale]="locale"
        (ionChange)="handleValueChange($event)"
      ></ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>
