<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end" class="calendar-toolbar__actions">
      <ion-button
        *ngIf="showLogoutButton"
        (click)="handleLogout()"
        fill="clear"
      >
        <i-lucide [img]="logoutIcon"></i-lucide>
      </ion-button>
      <ion-button
        *ngIf="showViewModeButton"
        (click)="handleToggleViewMode()"
        fill="clear"
      >
        <i-lucide [img]="viewModeIcon"></i-lucide>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
