<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end" class="calendar-toolbar__actions">
      <ion-button
        *ngIf="showLogoutButton"
        (click)="handleLogout()"
        color="primary-contrast"
        fill="clear"
      >
        <i-lucide [img]="logoutIcon"></i-lucide>
      </ion-button>
      <ion-button
        *ngIf="showScheduleButton"
        [id]="scheduleButtonId"
        color="primary-contrast"
        fill="clear"
      >
        <i-lucide [img]="scheduleIcon"></i-lucide>
      </ion-button>
      <ion-button
        *ngIf="showConfigButton"
        [id]="configButtonId"
        color="primary-contrast"
        fill="clear"
      >
        <i-lucide [img]="configIcon"></i-lucide>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
