<div class="footer">
    <img class="img" src="assets/svgs/footer.svg">
    <div class="footer-content">
        <div class="left">
            <div class="item" [class.active]="selectedSegment === 'calendar'" (click)="onChangeSegment('calendar')">
                <i-lucide [img]="CalendarDays"></i-lucide>
                <ion-label>Calendario</ion-label>
            </div>
        </div>
        <div class="center">
            <ion-fab-button [disabled]="selectedSegment === 'chat'" (click)="add()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
        </div>
        <div class="right">
            <div class="item" [class.active]="selectedSegment === 'clients'" (click)="onChangeSegment('clients')">
                <i-lucide [img]="UsersRound"></i-lucide>
                <ion-label>Clientes</ion-label>
            </div>
            <div class="item" [class.active]="selectedSegment === 'chat'" (click)="onChangeSegment('chat')">
                <i-lucide [img]="MessageCircle"></i-lucide>
                <ion-label>Chat</ion-label>
            </div>
        </div>
    </div>
</div>