<org-calendar-toolbar
  title="Calendario"
  [logoutIcon]="LogOut"
  [scheduleIcon]="Clock"
  [configIcon]="EllipsisVertical"
  [moreIcon]="MoreVertical"
  (logout)="authService.logout()"
></org-calendar-toolbar>

<ion-content
  class="ion-padding"
  [fullscreen]="true"
  style="max-height: 100vh"
  [scrollEvents]="true"
  (ionScroll)="onIonScroll($event)"
>
  <div class="calendar-skeleton" *ngIf="isLoadingEvents">
    <div class="calendar-skeleton__toolbar">
      <ion-skeleton-text animated class="pill pill--title"></ion-skeleton-text>
      <div class="calendar-skeleton__toolbar-actions">
        <ion-skeleton-text animated class="pill pill--icon"></ion-skeleton-text>
        <ion-skeleton-text animated class="pill pill--icon"></ion-skeleton-text>
        <ion-skeleton-text animated class="pill pill--icon"></ion-skeleton-text>
        <ion-skeleton-text animated class="pill pill--icon"></ion-skeleton-text>
      </div>
    </div>

    <div class="calendar-skeleton__weekdays">
      <ion-skeleton-text
        animated
        class="weekday"
        *ngFor="let day of skeletonWeekdays"
      ></ion-skeleton-text>
    </div>

    <div class="calendar-skeleton__grid">
      <div class="calendar-skeleton__cell" *ngFor="let cell of skeletonCells">
        <ion-skeleton-text animated class="day-number"></ion-skeleton-text>
        <ion-skeleton-text
          animated
          class="event-pill"
          [style.width.%]="cell.width"
        ></ion-skeleton-text>
        <ion-skeleton-text
          *ngIf="cell.hasSecond"
          animated
          class="event-pill"
          [style.width.%]="cell.width2"
        ></ion-skeleton-text>
      </div>
    </div>
  </div>
  <full-calendar
    #calendar
    [options]="calendarOptions"
    [ngClass]="{'calendar-hidden': isLoadingEvents, 'fc-body-hidden': viewMode === 'employees'}"
  ></full-calendar>

  <org-employees-columns-view
    *ngIf="viewMode === 'employees' && !isLoadingEvents"
    [date]="selectedDate"
    [employees]="employees"
    [appointments]="selectedDayAppointments"
    [businessHourRange]="employeesViewHourRange"
    (addEvent)="onEmployeesColumnAdd($event)"
    (editEvent)="onEmployeesColumnEdit($event)"
    (deleteEvent)="onEmployeesColumnDelete($event)"
    (reassignEmployee)="onEmployeesColumnReassign($event)"
  ></org-employees-columns-view>

  <org-month-picker-modal
    [isOpen]="isMonthPickerOpen"
    [value]="monthPickerValue"
    (valueChange)="monthPickerValue = $event ?? monthPickerValue"
    (cancel)="cancelMonthPicker()"
    (confirm)="confirmMonthPicker($event)"
    (dismiss)="onMonthPickerDismiss()"
  ></org-month-picker-modal>

  <org-calendar-schedule-modal
    title="Horarios"
    triggerId="openModal"
  ></org-calendar-schedule-modal>

  <app-config-modal></app-config-modal>
</ion-content>
