ion-content {
  --background: var(--ion-color-light);
}

ion-list {
  background: transparent;
}

ion-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 16px;

  h2 {
    color: var(--ion-color-medium);
    font-size: 14px;
    margin-bottom: 4px;
  }

  p {
    color: var(--ion-color-dark);
    font-size: 16px;
    margin: 0;
  }
}

ion-footer {
  ion-toolbar {
    --background: transparent;
    --border-width: 0;
    padding: 16px;
  }
} 