// light
@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/titillium/TitilliumWeb-Light.ttf") format("truetype");
}

// regular
@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/titillium/TitilliumWeb-Regular.ttf") format("truetype");
}

// semi-bold
@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/titillium/TitilliumWeb-SemiBold.ttf") format("truetype");
}

// bold
@font-face {
  font-family: "Titillium";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/titillium/TitilliumWeb-Bold.ttf") format("truetype");
}