// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #1f2937;
  --ion-color-primary-rgb: 31, 41, 55;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #111827;
  --ion-color-primary-tint: #374151;

  --ion-color-secondary: #ffffff;
  --ion-color-secondary-rgb: 255, 255, 255;
  --ion-color-secondary-contrast: #1f2937;
  --ion-color-secondary-contrast-rgb: 31, 41, 55;
  --ion-color-secondary-shade: #e5e7eb;
  --ion-color-secondary-tint: #f9fafb;

  --ion-color-success: #4b5563;
  --ion-color-success-rgb: 75, 85, 99;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #374151;
  --ion-color-success-tint: #6b7280;

  --ion-color-warning: #6b7280;
  --ion-color-warning-rgb: 107, 114, 128;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #4b5563;
  --ion-color-warning-tint: #9ca3af;

  --ion-color-danger: #b45353;
  --ion-color-danger-rgb: 180, 83, 83;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #9f3f3f;
  --ion-color-danger-tint: #c36b6b;

  --ion-color-info: #64748b;
  --ion-color-info-rgb: 100, 116, 139;
  --ion-color-info-contrast: #ffffff;
  --ion-color-info-contrast-rgb: 255, 255, 255;
  --ion-color-info-shade: #475569;
  --ion-color-info-tint: #94a3b8;

  --ion-color-dark: #111827;
  --ion-color-dark-rgb: 17, 24, 39;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #030712;
  --ion-color-dark-tint: #374151;

  --ion-color-medium: #6b7280;
  --ion-color-medium-rgb: 107, 114, 128;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #4b5563;
  --ion-color-medium-tint: #9ca3af;

  --ion-color-light: #f9fafb;
  --ion-color-light-rgb: 249, 250, 251;
  --ion-color-light-contrast: #1f2937;
  --ion-color-light-contrast-rgb: 31, 41, 55;
  --ion-color-light-shade: #f3f4f6;
  --ion-color-light-tint: #ffffff;

  --ion-font-family: IBM Plex Sans, sans-serif;

  --app-gradient-primary: linear-gradient(
    135deg,
    var(--ion-color-primary),
    var(--ion-color-primary-tint)
  );

  --app-segment-height: 69px;
}
