.schedule-form-item {
    ion-datetime {
      margin: auto;
    }
}

.error-message {
  padding-left: 16px;
  margin-top: -10px;
  
  ion-text {
    font-size: 12px;
  }
}

.service-option-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}
