:host {
  display: block;
}

.mol-password-input {
  --padding-start: 0;
  --inner-padding-end: 0;
}

.mol-password-input--invalid {
  --highlight-color-focused: var(--ion-color-danger);
  --highlight-color-invalid: var(--ion-color-danger);
}

.mol-password-input__helper {
  margin: 4px 0 0;
  font-size: 12px;
  color: var(--ion-color-medium);
}

.mol-password-input__error {
  margin: 4px 0 0;
  font-size: 12px;
  color: var(--ion-color-danger);
}
