<ion-item class="mol-password-input" [class.mol-password-input--invalid]="invalid">
  <ion-label *ngIf="label" position="stacked">{{ label }}</ion-label>
  <ion-input
    [type]="showPassword ? 'text' : 'password'"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="disabled"
    [readonly]="readonly"
    [required]="required"
    [name]="name"
    [autocomplete]="autocomplete"
    (ionInput)="handleInput($event)"
    (ionBlur)="handleBlur()"
  ></ion-input>
  <ion-button
    *ngIf="showToggle"
    slot="end"
    fill="clear"
    type="button"
    [disabled]="disabled"
    [attr.aria-label]="toggleAriaLabel"
    (click)="togglePassword()"
  >
    <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
  </ion-button>
</ion-item>

<p class="mol-password-input__helper" *ngIf="helperText && !invalid">{{ helperText }}</p>
<p class="mol-password-input__error" *ngIf="invalid && errorText">{{ errorText }}</p>
