<org-clients-toolbar
  title="Clientes"
  [logoutIcon]="LogOut"
  (logout)="authService.logout()"
></org-clients-toolbar>

<ion-content [fullscreen]="true">
  <org-clients-grid-panel
    [rowData]="rowData"
    [colDefs]="colDefs"
    [localeText]="localeText"
    [isLoadingMore]="isLoadingMore"
    [isLoadingAll]="isLoadingAll"
    [currentCount]="rowData.length"
    [totalCount]="totalClients"
    [showLoadMore]="hasMoreClients && !isLoadingMore"
    [showLoadAll]="!allClientsLoaded && !isLoadingAll"
    (gridReady)="onGridReady($event)"
    (loadMore)="loadMoreClients()"
    (loadAll)="loadAllClients()"
  ></org-clients-grid-panel>
</ion-content>
