/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

// FONTS
// ---------------------------------------------------
@use "theme/font.titillium";

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


@import "theme/full-calendar.scss";


ion-toolbar {
    --opacity: 0.5;
}

ion-header {
    box-shadow: none!important;
    filter: drop-shadow(1px 1px 8px rgba(158, 158, 158, 0.3));
    -webkit-filter: drop-shadow(1px 1px 8px rgba(158, 158, 158, 0.3));
    ion-toolbar {
        padding: 0 .5rem;
        background: var(--ion-color-primary);  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ffdde1, var(--ion-color-primary));  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ffdde1, var(--ion-color-primary)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    ion-title {
        font-weight: 600;
    }
}

.full-screen-modal {
    --width: 100%;
    --height: 100%;
    --max-width: 100%;
    --max-height: 100%;
    --border-radius: 0;
}

// ion-toast
ion-toast.custom-toast {
    --background: var(--ion-color-secondary);
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: var(--ion-color-secondary-contrast);
}

ion-toast.custom-toast::part(button) {
    border-left: 1px solid #d2d2d2;
    color: var(--ion-color-secondary-contrast);
    font-size: 15px;
}


ion-button {
    background-image: linear-gradient(to right, var(--ion-color-primary) 0%, #F7BB97  51%, var(--ion-color-primary)  100%)
}

ion-button {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 4px;
 }

 ion-button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 ion-fab-button::part(native){
    background-image: linear-gradient(to right, var(--ion-color-primary) 0%, #F7BB97  51%, var(--ion-color-primary)  100%)
 }

 ion-fab-button::part(native) {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    display: block;
 }

 ion-fab-button::part(native):hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
