<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calendario
    </ion-title>
    <ion-buttons slot="end" style="gap: .5rem;">
      <ion-button (click)="authService.logout()" color="none" fill="solid">
        <i-lucide [img]="LogOut"></i-lucide>
      </ion-button>
      <ion-button id="openModal" color="none" fill="solid">
        <i-lucide [img]="Settings"></i-lucide>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" style="max-height: 100vh;">
  <ion-skeleton-text *ngIf="isLoadingEvents" animated style="width: 100%; height: 100vh; border-radius: 12px;"></ion-skeleton-text>
  <full-calendar #calendar [options]="calendarOptions" [events]="eventsPromise | async" [ngClass]="{'calendar-hidden': isLoadingEvents}"></full-calendar>
  <ion-modal #modal trigger="openModal" (willPresent)="onWillPresent()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Horarios</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modalClose()"> Cerrar </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-nav #nav></ion-nav>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<style>
  .calendar-hidden {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 0;
  }
</style>