<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Calendario
    </ion-title>
    <ion-buttons slot="end" style="gap: 1rem;">
      <ion-button (click)="authService.logout()" color="info" fill="solid">Cerrar sesión</ion-button>
      <ion-button (click)="authService.logout()" fill="clear">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <full-calendar [options]="calendarOptions" [events]="eventsPromise | async"></full-calendar>
</ion-content>
